*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .body{
    display: flex;
    justify-content: center;
} */
.main2 .container{
background-color: aqua;
}
.main2 .col-1{
    border: 2px solid black;
    width: 31%;
}
.main2 .col-2{
    border: 2px solid black;
    width: 71%;
    justify-content: s;
}
.row-1{
    border: 2px solid red;
    width: 110%;
}
.list-group .a{
    border-radius: 0px;
}
.cane
{
    border: 2px solid green;
    float: inline-end;
    width: 40%;
    margin-top: 40%;
}
.col-1{
    border: 2px solid black;
    width: 30%;
    float: left;
}
.col-2{
    border: 2px solid black;
    width: 30%;
    float: left;
}