*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .body{
    display: flex;
    justify-content: center;
} */
.main2 .container{
background-color: aqua;
}
.main2 .col-1{
    border: 2px solid black;
    width: 31%;
}
.main2 .col-2{
    border: 2px solid black;
    width: 71%;
}
.row-1{
    border: 2px solid red;
    width: 110%;
}
.list-group .a{
    border-radius: 0px;
}
.name
{
    border: 2px solid green;
}